DATABASES_URL="postgresql://user:password@host:5432/database"

# SMTP Hostinger (envoi d'emails)
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=contact@espace-habitats.fr
SMTP_PASS=ton_mot_de_passe
SMTP_FROM="Espace Habitat <contact@espace-habitats.fr>"
